@import  "../../Variables/varialbes.scss";


.header-add-property {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;

  &__title {
    font-size: 22px;
    font-family: $font-inter;
    font-weight: 700;
    color: white;
    margin-bottom: 20px;
  }

  &__button {
    width: 180px;
    height: 35px;
    border-radius: 15px;
    background-color: $secondary-color;
    font-size: 16px;
    font-family: $font-inter;
    font-weight: 500;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 300ms ease-out;

    &:hover {
      background-color: $secondary-color-hover;
    }
  }
}
