.homepage {
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 600px;
    width: 100%;
    background-image: url(https://wallpaperaccess.com/full/1128280.jpg);
    background-size: 100% 100%;
    object-fit: cover;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
    height: 400px;
    width: 100%;
    background-color: pink;
  }


}
